* {
    background-color: rgb(8, 224, 8);
}

#Menu {
    display: flex;
    justify-content: space-between;
}


.derecha {
padding-right: min(500px);
}

.izquierda {
    padding-left: min(500px);
}
.imagen1{
height: auto;
width: fit-content;
padding: auto;
}
.imagen2{
height: auto;
width: fit-content;
padding: auto;
}