@media screen and (max-width: 390px) {
    .derecha {
        width: 47%;
    }
}

* {
    background-color: rgb(8, 224, 8);
}

#Menu {
    display: flex;
    justify-content: space-between;
}


.derecha {
   
}

.izquierda {
    
}


